header {
    background-color: #000000;
}

header nav a {
    color:white ;
}

#button-primary {
    background-color: red;
    color: #ffffff;
}

.item-nav {
    background-color: green;
    color: #ffffff;
}