* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;
    color: #ffffff;
    
  }
  
   html {
    background: #060608;
  
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Mohave", sans-serif;
  }
  
  .container {
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /*Header*/
  
  header {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background: rgba(0, 4, 7, 0.9); /*faixa preta no header*/
    backdrop-filter: blur(4px); /*efeito esfumaçado atrás do header*/
    z-index: 2023;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav {
    display: flex;
    gap: 47px;
  }
  
  header nav a {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    transition: color .5s ease;
  }
  
  header nav a:hover {
    color: #F55827;
  }
  
  header button {
    border-radius: 32px;
    border: 2px solid var(--gray-dark-05, #2f2f3b);
    padding: 9.5px 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    transition: all .5s ease;
  }
  
  header button:hover{
    background-color: #ffffff;
    color: #101014;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.30);/*primeiro parametro descola sombra pra baixo no eixo y, o segundo no eixo x arrastando pro lado, o terceiro é o blur e o quarto é a grossura da sombra*/
  }
  
  /*Section Herói*/
  .s-hero {
    width: 100%;
    background-image: url("../assets-spider-man-2/bg-hero.jpg");
    background-repeat: no-repeat;
    background-position: center center; /*centraliza no eixo x e y*/
    background-size: cover;
    background-attachment: fixed; /*fixa o background mesmo que a página role*/
    height: 800px;
    padding-top: 112px;
    padding-bottom: 143px;
    position: relative;
  }
  
  /*sombra degrade embaixo*/
  .s-hero:after{
  content: '';
  width: 100%;
  background: linear-gradient(180deg,#060608 0%, rgba(0, 4, 7, 0.00) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 316px;
  z-index: 2;
  transform: rotate(180deg);
  pointer-events: none;
  }
  
  .s-hero .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .s-hero .left {
    width: 100%;
    max-width: 622px;
    animation: fadeLeft 1s forwards;
    position: relative;
    z-index: 10;
  }
  
  .s-hero .left .platform {
    display: flex;
    margin-bottom: 24px;
  }
  
  .s-hero .left .platform span {
    color: #c0c0cc;
    font-size: 12px;
    line-height: 150%;
    background: #1b1b21;
    padding: 6px 12px;
    border-radius: 4px 0px 0px 4px;
  }
  
  